
img 
{
    border-radius: 6px;
    padding: 10px 20px;
    width: 75%;
    height: 500px;
    object-fit: cover;
}


.text{
   
      text-align: center;
      font-weight: bolder;

}

.mt-3{
  font-weight: bolder;
  font-size: 30px;
  color:black;
  text-align: center;
}
.fooddetails{
    font-weight: bolder;
  font-size: 15px;
  color:black;
  text-align: center;
}
.foodprice{
    font-weight: bolder;
  font-size: 20px;
  color:black;
  text-align: center;

}
.button{
  text-align: center;
}