<div class="container mt-5 mb-5">
    <h1>CONTACT</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-1 mb-1">
                <input type="text"  class=" form-control" placeholder="ENTER A FIRST NAME">
            </div>
            <div class="col-lg-6 mt-1 mb-1">
                <input type="text" class=" form-control" placeholder="ENTER A LAST NAME">
            </div>
            <div class="col-lg-6 mt-1 mb-1">
                <input type="text"class=" form-control" placeholder="ENTER A EMAIL ID">
            </div>
            <div class="col-lg-6 mt-1 mb-1">
                <input type="text" class=" form-control" placeholder="ENTER A MOBILE NUMBER">
            </div>
            <div class="col-lg-6 mt-1 mb-1">
                <textarea type="text"class=" form-control"  placeholder="ENTER YOUR FACEBOOKID"></textarea>
              </div>
            <div class="col-lg-6 mt-1 mb-1">
              <textarea type="text"class=" form-control"  placeholder="ENTER YOUR QUERY"></textarea>
            </div>
            <br> <br> <br>
            <div class="btn">
                <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar"  style="color:white; background-color: orangered;" >SUBMIT</button>
            </div>
           
        </div>
    </form>
</div>