<footer>
    <ul>
        
      <li class="heading">GOOD FOOD <br> GOOD TASTE:)</li>
       <li class="condition"> <a [routerLink]="['/term']">Terms&Conditions</a> </li>&nbsp;

        <li class="policy"><a [routerLink]="['/privacy']">Policy&Policy</a> </li>&nbsp;

        
      
            <li class="social"> Our social Media Website <br></li>&nbsp; <br>
            <li> <a  id ="face" class="icons" href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>&nbsp; 
            <li> <a class="icons" href="#" target="_blank"><i class="bi bi-whatsapp"></i></a></li>&nbsp; 
           
            <li> <a class="icons"  href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>&nbsp; 
            <li><a class="icons" href="#" target="_blank"><i class="bi bi-instagram"></i></a> </li>
    </ul>
     
             
     
    
</footer>