

<div class="container1">
    <h1 class="heading">OUR CATEGORIES OF FOODS <hr >CHOOSE WHAT YOU WANT</h1>
   
    <div class="img1">
        <img src="https://media.istockphoto.com/photos/indian-chicken-curry-picture-id471614507?b=1&k=20&m=471614507&s=170667a&w=0&h=sGTsNnZ3YWYX_B5iG1n_Q_bbJcPnzi3mFPMXz9-gAyQ=" width="300px" height="350px" >
        <div class="left1">
            <h1>NON VEG ITEMS</h1>
            <h2>FOR ALL ITEMS  3% DISCOUNT @ ALL TIME</h2>
            <h2>NO DELIVERY CHARGE</h2>
            <h2>DELIVERY IA AVAILBLE FOR ONLY 10 KM NEAR HOTEL</h2>
            <a class="choose" [routerLink]="['/nonveg']"><button>ORDER &nbsp;<i class="bi bi-bag-fill"></i></button></a>
        </div>
        
    </div>
    <br><br>
    
    <div class="img2">
        
    <img class="second" src="https://media.istockphoto.com/photos/shepherds-pie-tender-minced-lamb-with-garden-veg-in-a-hearty-gravy-picture-id1337225543?b=1&k=20&m=1337225543&s=170667a&w=0&h=mz4MDOfUVea3coYiSAm53bTyGwsucWF2kcKRz3LVcME=" width="300px" height="350px" >
        
        <div class="left">
            <h1> VEG ITEMS</h1>
            <h2>FOR ALL ITEMS 5% DISCOUNT @ ALL TIME</h2>
            <h2>NO DELIVERY CHARGE</h2>
            <h2>DELIVERY IA AVAILBLE FOR ONLY 10 KM NEAR HOTEL</h2>
            <a class="choose" [routerLink]="['/veg']"><button>ORDER &nbsp;<i class="bi bi-bag-fill"></i></button></a>
        </div>
        
    </div>
    <br><br>
    <div class="img3">
        <img src="https://media.istockphoto.com/photos/pink-cupcake-in-hand-picture-id854440702?k=20&m=854440702&s=612x612&w=0&h=gdC0BgNNvGkb0FVvEc1G6Wr6KG4CK3Ubf_AacWGZQGE=" width="300px" height="350px" >
        <div class="left1">
            <h1>DESERT</h1>
            <h2>FOR ALL ITEMS  8% DISCOUNT @ ALL TIME</h2>
            <h2>NO DELIVERY CHARGE</h2>
            <h2>DELIVERY IA AVAILBLE FOR ONLY 10 KM NEAR HOTEL</h2>
            <a class="choose" [routerLink]="['/desert']"><button>ORDER &nbsp;<i class="bi bi-bag-fill"></i></button></a>
        </div>    
    </div>
    <br><br>
    <div class="img4">
        <img class="second" src="https://media.istockphoto.com/photos/watermelon-juice-picture-id471973052?k=20&m=471973052&s=612x612&w=0&h=mISMaVuNjgMe2aTvMmz1FfiDeZERM_2fDrPgMXr574o=" width="300px" height="350px" >
        <div class="left">
            <h1>JUICE</h1>
            <h2>FOR ALL ITEMS  10% DISCOUNT @ ALL TIME</h2>
            <h2>NO DELIVERY CHARGE</h2>
            <h2>DELIVERY IA AVAILBLE FOR ONLY 10 KM NEAR HOTEL</h2>
            <a class="choose" [routerLink]="['/juice']"><button>ORDER &nbsp;<i class="bi bi-bag-fill"></i></button></a>
           
        </div>    
    </div>
    <br><br>
    <div class="img5">
        <img src="https://media.istockphoto.com/photos/basket-of-famous-fast-food-french-fries-picture-id623524458?k=20&m=623524458&s=612x612&w=0&h=e29C6h4hTdMWXVJBGZ2NGknsyQ0lnphK7dy6KWF5Lbs=" width="300px" height="350px" >
        <div class="left1">
            <h1>STARTER</h1>
            <h2>FOR ALL ITEMS  13% DISCOUNT @ ALL TIME</h2>
            <h2>NO DELIVERY CHARGE</h2>
            <h2>DELIVERY IA AVAILBLE FOR ONLY 10 KM NEAR HOTEL</h2>
            <a class="choose" [routerLink]="['/starter']"><button>ORDER &nbsp;<i class="bi bi-bag-fill"></i></button></a>
        </div>    
    </div>
    
     
     
</div>

