<div class="container">
    <div class="review">
        <h1>OUR CUSTOMER REIVEW ABOUT OUR SERVICES</h1>
        <p>With the best food delivery services, you can order whatever you want to eat with just the click of a button. Burgers, pizza, sushi, a dish from your favorite local restaurant — they can all arrive right on your doorstep. No need to dine in or even drive anywhere to pick up the meal.

            Food delivery services have become very popular in recent years, but never more so than during the pandemic, when dining out was a no-go for many. Even though almost all restrictions have lifted, food delivery apps are in no danger of being deleted from our smartphones anytime soon.
            
            This guide takes a close look at the food delivery apps that promise to bring you meals when you don’t want to — or can’t — leave the comfort of the couch. These are the best food delivery services you can use on your iPhone or Android device and what each one brings to the table.</p>
    </div>
    <div class="deliver-time">
        <h1>DELEIVERY TIMING REIVEW</h1>
        <p>provides a varity of restraunts and food items available throught the day as well during the night. As I work during the night, it becomes difficult to cook while working, so swiggy comes in handy</p>
        <p>within a time they deliver a food .good services.</p>
        <p>I like the service, its quick and reliable and you know that the food delivered will be fresh and hygienic. I usually pay with gpay as its quiet safe and reliable</p>
        <p>The food delivery service is very far better than other platforms. I am a night owl and now I can order food even at 2:00 am.</p>
        <p>Coupons, offers provided by swiggy are good. It have never disappointed me yet. Its saver when you are hungry and on time delivery.

            You can track your delivery person live and can interact with him for proper direction</p>
    </div>
    <div class="about-food-review">
        <h1>ABOUT FOOD TASTE</h1>
        <p>I liked the ambience and the food equally. The food quality is really upmarket.The prices are okay. I liked kulfi in rabdi and also the rotis which were soft. The food is not too spicy and not too light. There is balance of taste.

          </p>
        <p>Status in one of the best Vegetarian restaurants you will visit. We went there for dinner. The food was delicious and service was exceptional. Worth visiting once. Try the Gujarati Thali. It's really good.

           </p>  
        <p>Status, situated in the Nariman Point business centre, is my all time favourite particularly for delicious South Indian cuisine, a variety of Dosais and Vadas. Another favourite is Gujarati Thali, a set meal catering Gujarati traditional preparations. Situated in the business district, it is very crowded during lunchtime and the worst is that it doesn’t make reservations.

            </p>   
        <p>This hotel is located in the most busy and best location with the best menu to completely satisfy your tummy
            Must try if you are in mumbai
            I love eating here
            Panner chilli and dosa’s ate the best with unlimited sambar.
            
            </p>    
    </div>
    <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3 ">Back</a>
    
</div>