<div class="content"  style="margin-top: -25px;">
    <div class="container">
        <h1>SIGN IN OR SIGN UP</h1>
        <h3 id="add1">FILL THE DETAILS</h3>
        <br>
        
        <mat-form-field appearance="fill">
            <mat-label>Enter Mail-Id</mat-label>
            <input id="mat" matInput placeholder="anu@example.com" >
            </mat-form-field><br><br>
            <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            </mat-form-field><br><br>
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input id="mato" matInput placeholder="Write Your Message">
        </mat-form-field><br><br>
        <div class="btn">
            <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar" style="color:white; background-color: orangered;">
                SEND
            </button>
           
      </div>   
    </div>
</div>


