<div class="container1">
    <div class="heading">
        <h1>WELCOME FOOD COURT</h1>
        <hr>
       <h1>WELCOME TO DESERT FOOD CATEGORIES</h1>
    </div>
    <div *ngFor=" let ds of desData">
        <img class="image" src="{{ds.foodimg}}">
        <div class="left1">
         <h1 class="name">{{ds.foodName}}</h1>
       
         <p class="hname">{{ds.hotelName}}</p>
         <p class="price">{{ds.foodPrice |currency:'INR'}}</p>
         <a [routerLink]="['/desert',ds.id]"><button>BUY NOW&nbsp;<i class="bi bi-bag-fill"></i></button></a>
        </div>
        <br><br><br><br><br><br>
     </div>
     <a [routerLink]="['/starting']" class="btn btn-sm btn-dark mb-3 ">Back</a>


     
</div>