form
{
    margin-top: 10%;
    width: 50%;
}
img 
{
    border-radius: 6px;
    padding: 10px 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width:400px) {
    form 
    {
        width: 100%;
    }
}
.container1{
    background-color: rgb(54, 50, 50);
}
.details{
    color:white;
    font-weight: bolder;
    font-style: oblique;
}
.details1{
    font-weight: bold;
    font-style: oblique;
    color:orangered;
}
.btn btn-md btn-dark mt-3{
    border-radius: 10px;
    text-shadow: 0in;
}
.review{
    height: 20px;
    width: 100px;

}
.mt-3{
    color: white;
}
p{
    color: orangered;
}