<div class="container">
    <div class="heading">
        <h1 class="heading1">PRIVACY AND POLICY</h1>
        <h1>YOUR CONSENT</h1>
        <h3>This Privacy Policy (“Policy”) describes the policies and procedures on the collection, use, disclosure and protection of your information when you use our website located at food court.com, or the food courtmobile application (collectively, “food court Platform”) made available by Bundl Technologies Private Limited (“food court”, “Company”, “we”, “us” and “our”),  a private company established under the laws of India having its registered office at No.55 Sy No.8-14, Ground Floor, I&J Block, Embassy Tech Village, Outer Ring Road, Devarbisanahalli, Bengaluru - 560103

            The terms “you” and “your” refer to the user of the food court Platform. The term “Services” refers to any services offered by food court whether on the food court Platform or otherwise.
            
            Please read this Policy before using the food court Platform or submitting any personal information to food court . This Policy is a part of and incorporated within, and is to be read along with, the Terms of Use.</h3>
            <h1>POLICY CHANGES</h1>
            <h3>We may occasionally update this Policy and such changes will be posted on this page. If we make any significant changes to this Policy we will endeavour to provide you with reasonable notice of such changes, such as via prominent notice on the food court  Platform or to your email address on record and where required by applicable law, we will obtain your consent. To the extent permitted under the applicable law, your continued use of our Services after we publish or send a notice about our changes to this Policy shall constitute your consent to the updated Policy.</h3>
            <h1>LINKS TO OTHER WEBSITES</h1>
            <h3>The food court Platform may contain links to other websites. Any personal information about you collected whilst visiting such websites is not governed by this Policy.food court shall not be responsible for and has no control over the practices and content of any website accessed using the links contained on the food court Platform. This Policy shall not apply to any information you may disclose to any of our service providers/service personnel which we do not require you to disclose to us or any of our service providers under this Policy.</h3>
            <h1>COOKIES</h1>
            <h3>Our food court Platform and third parties with whom we partner, may use cookies, pixel tags, web beacons, mobile device IDs, “flash cookies” and similar files or technologies to collect and store information with respect to your use of the Services and third-party websites.

                Cookies are small files that are stored on your browser or device by websites, apps, online media and advertisements. We use cookies and similar technologies for purposes such as:
                
                Authenticating users;
                Remembering user preferences and settings;
                Determining the popularity of content;
                Delivering and measuring the effectiveness of advertising campaigns;
                Analysing site traffic and trends, and generally understanding the online behaviours and interests of people who interact with our services.
                A pixel tag (also called a web beacon or clear GIF) is a tiny graphic with a unique identifier, embedded invisibly on a webpage (or an online ad or email), and is used to count or track things like activity on a webpage or ad impressions or clicks, as well as to access cookies stored on users’ computers. We use pixel tags to measure the popularity of our various pages, features and services. We also may include web beacons in e-mail messages or newsletters to determine whether the message has been opened and for other analytics.
                
                To modify your cookie settings, please visit your browser’s settings. By using our Services with your browser settings to accept cookies, you are consenting to our use of cookies in the manner described in this section.
                
                We may also allow third parties to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs and other technologies to identify your device when you visit the Swiggy Platform and use our Services, as well as when you visit other online sites and services.
                
                Please see our Cookie Policy for more information regarding the use of cookies and other technologies described in this section, including regarding your choices relating to such technologies.</h3>

    </div>
</div>