<div class="container1">
    
    <div *ngIf="juiceData">
        
        <h1>ADD A  DETAILS AND PLACE YOUR ORDER</h1>
        <img  src="{{juiceData[0].foodImg}}">
        
         <h1 >{{juiceData[0].foodName}}</h1>
       
         <h3 >{{juiceData[0].hotelName}}</h3>
         <h3 >{{juiceData[0].foodPrice |currency:'INR'}}</h3>
         
        
       
       
    </div>
  
    <div class="col-lg-6 col-12">
        <h1 class="details">Enter Your Details</h1>
        <h3 class="details1">FOR DELIVERY <i class="bi bi-truck"></i></h3>
        <form>

            <input type="text" class="form-control" placeholder="Enter Your Full Name" />
            <br>
            <input type="text" class="form-control" placeholder="Enter Your Mobile" />
            <br>
            <textarea class="form-control" placeholder="Enter Your Address"></textarea>
            <br>
            <button class="btn btn-md btn-dark mt-3">Place Order</button>
            <br>
            <br>
            <button class="buybtn btn-dark  mt-3" [routerLink]="['/addreview',juiceData]" >ADD A REVIEW</button>
        </form>


    </div> 
    <a routerLink="../../juice" class="btn btn-sm btn-dark mb-3 ">Back</a>
</div>