<div class="container">
    <div class="first">
        <h1>ADD A REVIEW ABOUT FOOD TASTE</h1>
        <textarea class="text1"></textarea>
        <h1>What do you like best?</h1>
        <textarea class="text1"></textarea>
        <h1>What do you dislike?</h1>
        <textarea class="text1"></textarea>
        <h1>Recommendations to others considering the product:</h1>
        <textarea class="text1"></textarea>
        <h1>ABOUT DELIVERY TIMINING</h1>
        <textarea class="text1"></textarea>
        <br>
        <button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar" style="color:white; background-color: orangered;">
            SEND
        </button>
       
        <br><br>
        <a [routerLink]="['/starting']" class="btn btn-sm btn-dark mb-3 ">Back</a>
    </div>
</div>